.filterContainer {
  width: 480px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterInput {
  border: 1.4px solid #84fac1;
  width: 480px;
  border-radius: 8px;
  height: 40px;
  padding-left: 12px;
  box-sizing: border-box;
}

::placeholder {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #959494;
}

.filterInput:hover,
.filterInput:focus,
.filterInput:active {
  border: 1.4px solid #fd5d5d;
  outline: #fd5d5d;
}

.label {
  color: #959494;
  align-self: start;
  margin-block-start: 0.5px;
  margin-block-end: 1px;
  margin-bottom: 4px;
}
